NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_FACTORY_TESTNET_ADDRESS=
NEXT_PUBLIC_FACTORY_MAINNET_ADDRESS=
NEXT_PUBLIC_DEFAULT_DAO_ADDRESS=
PRIVATE_KEY=
BLOCKSCOUT_API_KEY=
BOTCHAIN_TESTNET_RPC_URL=https://rpc.bohr.life
BOTCHAIN_MAINNET_RPC_URL=https://rpc.botchain.ai
BOTCHAIN_TESTNET_VERIFIER_URL=https://scan.bohr.life/api/
BOTCHAIN_MAINNET_VERIFIER_URL=https://scan.botchain.ai/api/
